@model TSAHandset.ViewModel.BaseViewModel

<div class="col-md-3 mainSideBar hidden-sm hidden-xs">
    &nbsp;
   <div class="mainSideBarFlexDiv">
       <div class="mainSideBarFlexDivLogo">
           <img class="img-responsive sidebarLogo" src="~/Images/tsa.png" />

       </div>

       <div class="mainSideBarFlexDivMission">
           <blockquote>

               <p>
                   Caring for people, transforming lives and reforming society through God in Christ by the Holy Spirit's power.
               </p>
               </blockquote>
       </div>

       @if (Request.IsAuthenticated && Model.User !=null)
       {
        <div class="col-md-12 mainSideBarFlexDivUser">
            @if (Model.User.Department != null)
            {
                <div class="col-md-12">
                    Department : @Model.User.Department
                </div>
            }
            @if (Model.User.JobTitle != null)
            {
                <div class="col-md-12">
                    Job Title : @Model.User.JobTitle
                </div>


            }
            @*@if (Model.User.Manager != null)
            {
                <div class="col-md-12">
                    Your Manager : @Model.User.Manager
                </div>


            }*@
          
            @if (Model.User.Mobile != null)
            {
                <div class="col-md-12">
                    Mobile : @Model.User.Mobile
                </div>


            }


           
        </div>
       }
   </div>
</div>
