@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <div class="row">
       <div class="col-md-6">
           <a href="#" class="btn  btn-raised btn-danger">
           <i class="material-icons">description</i><br />
           New Request
           
           </a>

       </div>
       <div class="col-md-6">
           <a href="#" class="btn  btn-raised btn-danger">
               <i class="material-icons">feedback</i><br />
               Pending Request

           </a>
       </div>
   </div>
    
</div>

<div class="row">
    
</div>