body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mainSideBar {
   background-color: #3f51b5;
   height:100%;
   padding:2em;
   position:fixed;
   padding-bottom:100px;
}

.mainSideBarFlexDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-between;

}
.mainSideBarFlexDivLogo{
    flex:1;
}
.mainSideBarFlexDivUser {
    color: #8385ef;
    flex: 2;
    text-align: center;
    font-size: 1.3em;
}

.sidebarLogo{
    margin:auto;
}

.radio{
    color:red;
    padding-top:0px!important;
    margin-bottom:0px!important;
}

.tile div{
    height:8em;
    display:table-cell;
    vertical-align:middle;
}
.tile div>i{
    font-size:48px;
}

